<html>
    
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

    {{>header}}

    <p>Bem vindo ao sistema de cotações</p>

    {{>footer}}

    </body>

    <script src="/js/app.js"></script>
    
</html>