<header>
    <h1>{{title}}</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Cotacoes">Cotações</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/Help">Help</a></li>
    </ul>
</header>